<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>

<!-- link css styling file -->
<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">

<nav> <!-- a set of navigaton links -->
	<hl>Flaskr</hl>
	<ul> <!-- unordered list -->
		<!-- if user logged in, display their username, and 'Log Out' link -->
		{% if g.user %}
			<li><span>{{ g.user['username'] }}</span> <!-- list items -->
			<li><a href="{{ url_for('auth.logout') }}">Log Out</a> <!-- hyperlink -->
		<!-- if user not logged in, display 'Register' and 'Log In' link -->
		{% else %}
			<li><a href="{{ url_for('auth.register') }}">Register</a>
			<li><a href="{{ url_for('auth.login') }}">Log In</a>
		{% endif %}
	</ul>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div> <!-- division -->
	{% endfor %}
	{% block content %}{% endblock %}
</section>